//THEME COLOURS
$orange: #e7681f;
$dark-orange: #754008;

$primary: $orange;
$secondary: $dark-orange;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//FONT MODIFICATIONS
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//NAVBAR ICON MODIFICATION
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$white}' class='bi bi-list' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/></svg>");
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$black}' class='bi bi-list' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/></svg>");

//MISC MODS
$hr-border-width: 0px;

@mixin screen-max($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

body {
  font-family: $font-family-sans-serif;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.flex-bar {
  display: flex;
  width: 67vw;
  justify-content: flex-end;
  align-items: center;
  @include screen-max(992px) {
    width: 100vw;
    justify-content: center;
    margin: 0 -5em 0 -5em;
  }

  @include screen-max(576px) {
    width: 100vw;
    justify-content: center;
    margin: 0
  }
}

.btn-persistent-bottom-right {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 5px;
  transition: bottom 0.25s ease-in-out
}

.btn-persistent-bottom-right:hover {
  bottom: 5px;
}

//IMPORT BOOTSTRAP 5
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
.bg-primary {
  background-color: $primary !important;
}

a {
  color: $primary;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

a:hover {
  color:rgba($primary, 0.8);
}

.btn-primary {
  background-color: $primary !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: rgba($primary, 0.8) !important;
}

.text-primary {
  color: $primary !important;
}

.divider {
  border: none !important;
}